<footer id="footer">
    <div class="container text-center">
        <h3>LoopLAB</h3>
        <p>Copyright ©
            <span id="year">{{year}}</span>
        </p>
        <button class="btn btn-primary" (click)="openModal(template)" type="button">Contact Us</button>

    </div>
</footer>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Contacts us</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="#name">Name</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="#email">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="#message">Message</label>
                <textarea name="" id="message" class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-block" type="submit" (click)="modalRef.hide()">Submit</button>
    </div>

</ng-template>